<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/about.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/" class="navbar-brand"><img style="height: 50px;"
                src="http://ngitonline.com/pix/non-transparent-logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-left">
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/message">Message</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Sign Up</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>
    <marquee class="mar" behavior="scroll" direction="left" style="
    color: #fff;
    font-weight: bold;
    background:#2196F3 ;
    margin-bottom:5px;
    padding: 5px 10px;
    font-size: 15px;
    display:block" scrolldelay="100">ngitonline.com
    </marquee>
    <br>
    <div class="about-section">
        <h1>Student complaint redressal</h1>
        <p>This is portal that allows student and teacher to record thier greviance and convey it to administraton</p>
        <p>Motivation : we really thought this through and realized there need to be some thing through ehich people can
            share their problems
            and at the same time notorius activities and resitricted...this portal doesn't limit itself to student even
            teacher can relay on this.
        </p>
    </div>

    <h2 class="team">Our Team</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="image1">
                    <img src="/venky.jpg" alt="Venkatesh" class="venkatesh">
                </div>
                <div class="container">
                    <h4 class="name">Venkatesh Gunda</h4>
                    <p class="type">Front end Designer</p>
                    <p class="roll">A student of NGIT bearing roll no:245319737310</p>
                    <p class="mail">venkygunda313@gmail.com</p>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="image1">
                    <img src="/banu.jpeg"
                        alt="Sujay" class="sujay">
                </div>
                <div class="container">
                    <h4 class="name">Banu Swaraj</h4>
                    <p class="type">Backend and middleware</p>
                    <p class="roll">A student of NGIT bearing roll no:245319737070</p>
                    <p class="mail">bhanuswaraj222@gmail.com</p>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="image1">
                    <img src="/sai.jpg" class="rahul"
                    alt="Rahul">
                </div>
                <div class="container">
                    <h4 class="name">Sai Sachit</h4>
                    <p class="type">Back end</p>
                    <p class="roll">A student of NGIT bearing roll no:245319737088</p>
                    <p class="mail">saisachit.sachu2001@example.com</p>

                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>